:root {
    --footer-header-color: #2F303A;
    --back-color: #FFFFFF;
    --web-text: #2196f3;
    --text-color: #000000;
    --team-back: #F5F4FE;
    --link-color: #212121;
    --head-link: #757575;
    --navigate: #F5F4FA;
    --color-button: #188CE8;
    --border-color: #ececec;
    --cards-border: #EEEEEE;
    --mail-tel: rgba(255, 255, 255, 0.6);
    --header-color: rgba(47, 48, 58, 0.4);
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--back-color);
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.main-header {
    display: block;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    background-color: var(--footer-header-color);
    background-image: linear-gradient(to right, var(--header-color), var(--header-color)), url("../images/teams.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.efect-decision {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--team-back);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 30px;
}

.order-service {
    width: 216px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    background: #2196F3;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--back-color);
    border: none;
    cursor: pointer;
}
.order-service:hover,.order-service:focus {
    background: var(--color-button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.header1 {
    padding: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
}
.container-first {
    display: flex;
    align-items: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-left: 15px;
    
}
.nav-list {
    display: flex;
    margin: 0;
    padding: 0px;
}
.nav-list .item:not(:last-child) {
    margin-right: 50px;
}

.address-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
   
}
.address-list .item:not(:last-child) {
    margin-right: 50px;
}
.icon-smartphone {
    margin-right: 10px;
}
.header-link:hover, .header-link:focus .icon-smartphone {
    fill: var(--web-text);
}
.envelope-icon {
    margin-right: 10px;
}
.header-link:hover, .header-link:focus .envelope-icon {
    fill: var(--web-text);
}

.list-addr {
    display: block;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.foot-li:not(:last-child) {
    margin-bottom: 9px;
}
.foot-li {
    padding:0px;
}

.studio-facts {
    padding-top: 94px;
}
.studio-facts-container {
    display: flex;
    flex-wrap: nowrap;
    padding: 0px;
}
.studio-facts-item {
    width: 270px;
    padding-top: 0px;    
    padding-bottom: 0px;

}
.studio-facts-container .studio-facts-item:not(:last-child) {
    margin-right: 30px;

}
.studio-facts-item::before {
    display: block;
    content: "";
    height: 120px;
    background-size: content;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}
.antenna-icon::before {
    background-image: url("../images/antenna1.svg");
}
.clock-icon::before {
    background-image: url("../images/clock1.svg");
}
.diagram-icon::before {
    background-image: url("../images/diagram1.svg");
}
.astronaut-icon::before {
    background-image: url("../images/astronaut1.svg");
}
.activities {
    padding-top: 94px;
    padding-bottom: 94px;
}
.pictures {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    margin: 0px;
    align-items: center;
} 
.pictures-item {
    width: 370px;
}
.pictures .pictures-item:not(:last-child){
    margin-right: 30px;
}
.footer {
    background-color: var(--footer-header-color);
    padding-top: 60px;
    padding-bottom: 60px;

}
.button-list {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-bottom: 50px;
    margin-top: 0px;
}
.studio-chapters-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.studio-chapters-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.studio-chapters-item:hover, .studio-chapters-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.studio-chapters-item:nth-child(3n) {
    margin-right: 0px;
}
.studio-chapters-item:nth-last-child(-n+3) {
    margin-bottom: 0px;
}
.studio-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--team-back);
    text-align: center;
}
.studio-team-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    margin: 0px;
    text-align: center;
    align-items: center;
}
.name-card {
    width: 270px;
    padding-bottom: 30px;
}
.studio-team-container .name-card:not(:last-child) {
    margin-right: 30px;
}
.clients {
    margin-top: 94px;
    margin-bottom: 94px;
}
.client {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    width: 170px;
    height: 92px;
}
.client-link:hover, .client-link:focus {
    border-color: var(--web-text);
    color: var(--web-text);
}
.logo-icon {
    fill: currentColor;
}
.text-web {
    margin-right: 90px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--web-text);
}
.text-web2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--web-text);
}
.text-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.text-studi {
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--back-color);
}
.nav-list .header-links {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--link-color);
    padding-top: 30px;
    padding-bottom: 27px;   
}

.header-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--head-link);
    fill: var(--head-link);

}
.link:hover, .link:focus {
    color: var(--web-text);
}


.facts-header {
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--link-color);
}
.description-items {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--head-link);
}
.job-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--link-color);
    padding: 0px;
    margin-top:0px;
    margin-bottom: 50px;
}
.name {
    margin-top: 30;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--link-color);
}
.description-team-items {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--head-link);
    margin-top: 0px;
    margin-bottom: 16px;
    margin-left: 0px;
    margin-right: 0px;
}
.address {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--back-color);
    padding: 0px;
    margin: 0px;
}
.mail-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--mail-tel);
    padding: 0px;
    margin: 0px;
}
.name-card {
    background-color: var(--back-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding: 0px;
}
.portfolio-head {
    width: 332px;
    margin: 0px;
    padding: 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--link-color);  
}
.description-chapters {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--head-link);   
}
.border {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px;
    border-style: solid;
    border-color: var(--cards-border);
}
.port-img {
    display: block;
}
.navigate {
    height: 38px;
    padding-left: 22px;
    padding-right: 22px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--link-color);
    background: var(--navigate);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.navigate:hover, .navigate:focus {
    background: var(--web-text);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--back-color);
    }
.button-list .nav-button:not(:last-child) {
    margin-right: 8px;
}
.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.main-header2 {
    padding-top: 94px;
    padding-bottom: 94px;
}
.social {
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 10px;
    padding-left: 0px;
}
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.1);
    color: #AFB1B8;
    width: 44px;
    height: 44px;
}

.social-link:hover,
.social-link:focus {
    background: var(--web-text);
}

.social-icon {
    fill: var(--back-color);
}
.join-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--back-color);
    margin-bottom: 20px;
    padding: 0px;
}
.container-footer {
    display: flex;
}
.join {
    display: block;
    width: 210px;
    margin-left: 0px;
    margin-bottom: 0px;
}
.footer-web {
    margin-right: 70px;
}
.social-team {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 0px;
    margin-bottom: 30px;
}

.social-team-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    color: #AFB1B8;
    width: 44px;
    height: 44px;
}
.social-team-icon {
    fill: currentColor;
}
.social-team-link:hover,
.social-team-link:focus {
    background: var(--web-text);
    color: #FFFFFF;
}
.backdrop {
    z-index: 1000;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.modal {
    position: absolute;
    width: 528px;
    min-height: 581px;
    left: 50%;
    top: 50%;
    border-radius: 4px;
    background-color: var(--back-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translatex(-50%) translatey(-50%);
}




